@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
:root {
  --primary-color: #FC6C87;
  --primary-gradient: linear-gradient(to right, #FC6C87, #FF9A8B, #FFB199);
  --button-bg: #ffffff;
  --button-text: var(--primary-color);
  --heading-color: #ffffff;
  --text-color: #ffffff;
}
.loader {
  border-top-color: var(--primary-color);
}



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


